<!--header-->
<div class="header-image">
  <div class="container text-center">
    <h1 class="text-main">m☆COSMIC</h1>
    <br>
    <% if !user_signed_in? %> 
    
      <%= link_to "無料登録", new_user_registration_path, class:"singup btn btn-info" %>
      <%= link_to "ログイン", new_user_session_path, class:"singin btn btn-success" %>
    <% end %>
  </div>
</div>

<!--func-->

<div class="top-comment flex-box">
  <div>
      <p class="title">m☆COSMIC</p>
  </div>
  <div class="item">
      <% text = "m☆COSMIC

m☆COSMIC をご利用ありがとうございます。

2019年 2月 から
メタトロン最新機種「WELL BEING」になりました。

会員登録(無料)をして頂くと、予約サイトにいけます。

ご予約はカレンダーを確認お願いします
空き時間が表示されますので
で◎印をクリックしてください。予約サイトに飛びます。

「必ずお読みください」もチェック
お願いします。

キャンセル、変更は２日前までにお願いします。
前日、当日キャンセルは全額頂きますのでお気をつけください。


⚠️FacebookやインスタなどのSNSに
メタトロンの画像を載せるのは薬事法で
禁止されていますので、掲載されている人は写真の削除お願いします。"%>
  <%= simple_format(text) %>
            
  </div>
</div>

    
    
    
</div>



<!--footer-->


 

