<!--header-->
<div class="header-image">
  <div class="container text-center">
    <h1 class="text-main">m☆COSMIC</h1>
    <br>
    <% if !user_signed_in? %> 
    
      <%= link_to "無料登録", new_user_registration_path, class:"singup btn btn-info" %>
      <%= link_to "ログイン", new_user_session_path, class:"singin btn btn-success" %>
    <% end %>
  </div>
</div>

<!--func-->

<div class="top-comment flex-box">
  <div>
      <p class="title">m☆COSMIC</p>
  </div>
  <div class="item">
      <% text = "m☆COSMIC

m☆COSMIC をご利用 ありがとうございます 。
2019年 2月 3日から
メタトロン最新機種 「WELL BEING」になりました 。

会員登録をお願いします。
完了後、予約ができます。

登録後「必ずお読みください」もチェック お願いします 。

キャンセル、変更は２日前までに電話 or LINEでお願いします。
前日、当日キャンセルは全額頂きますので お気をつけください 。

⚠️FacebookやインスタなどのSNSに 
メタトロンの画像を載せるのは薬事法で 
禁止されていますので、掲載されている人は 写真の削除お願いします"%>
  <%= simple_format(text) %>
            
  </div>
</div>

    
    
    
</div>



<!--footer-->


 

