<div class="container">
    <h2 class="my-reserved-title">予約履歴</h2>
    
        <table class="table table-bordered table-schedule">
          <thead>
            <tr>
              <th scope="col">日付</th>
              <th scope="col">時間</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <% @reservations.each do |reservation| %>
               <tr>
                  <td><%= reservation.reserved_date %></td>
                  <td><%= reservation.reserved_space %>:00</td>
                  <td><%= link_to "削除", "/reservations/#{reservation.id}", :method => "delete", data: { confirm: "#{reservation.reserved_date}⇨#{reservation.reserved_space}:00の予約を削除しますか？" } %></td>
               </tr>
            <% end %>
          </tbody>
        </table>

    
</div>