<div class="container">
<h2>お問い合わせ</h2>

    
  <div class="field name">
    氏名<br />
    <p><%= @inquiry.name %></p>
  </div>

  <div class="field">
    メール<br />
    <p><%= @inquiry.email %></p>
  </div>
  
  
  <div class="field">
    内容<br />
    <p><%= @inquiry.content %></p>
  </div>


</div>
